@use "./vars.scss" as vars;

.footer {
  background-color:vars.$color-background-footer;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 10px;
  border-radius: vars.$border-radius;
  min-height: 30vh;

  &__item:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0 2rem 0;
  }
  &__item:nth-child(1) {
    display: flex;
    align-items: center;
    // justify-content: flex-end;
  }
  &__item {
    &__name {
      background-color: vars.$color-primary;
      width: 100%;
      text-align: end;
      padding: 1rem;
      font-size: 3rem;
      font-family: vars.$font-family-titre;
      border-radius: 0 vars.$border-radius vars.$border-radius 0;
      position: relative;
      &__cornerTop {
        display: block;
        width: 30px;
        position: absolute;
        top: -30px;
        left: 0px;
        transform: rotate(270deg);
      }
      &__cornerBottom {
        display: block;
        width: 30px;
        position: absolute;
        left: 0px;
        bottom: -30px;
        transform: rotate(0deg);
      }
    }
    &__column {
    
      
      &  h2{
        color:vars.$color-footer;
      }
      &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        color:vars.$color-footer;

        &__link {
          margin-top: 10px;
          transition: all vars.$transition-hover;
          color:vars.$color-footer
        }
        &__link:hover {
          margin-top: 10px;
          margin-left: 3px;
          color:vars.$color-background-contact
        }

        &__image {
          margin-top: 10px;
          transition: all 800ms;
        }
        &__image:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media screen and (max-width: 700px){
    .footer {
       
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        &__item:nth-child(1){
            width: 80%;
        }
        &__item__name{
            font-size: 18px;
            font-family: vars.$font-family-titre;
            letter-spacing: 3px;
        }

}}