
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body{
  max-width: 1600px; 
 margin:  auto;
 position: relative;
}


a {
  color: inherit;
  text-decoration: none;
}

section{
  transform: translateY(90
  px);
}


