
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa';
}

.body{
  max-width: 1600px; 
 margin:  auto;
 position: relative;
}

html{
  /* background-color: #fcf8eb; */
  
scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

section{
  transform: translateY(90
  px);
  margin-bottom: 2rem;
}

@font-face {
  font-family: 'treker';
  src: url('/font/treker.otf') format('truetype');  /* Ajustez le chemin et le format si nécessaire */
}
@font-face {
  font-family: 'Comfortaa';
  src: url('/font/Comfortaa-VariableFont_wght.ttf') format('truetype'); 
  /* ou format('woff2-variations') si c'est un fichier woff2 */
}
@font-face {
  font-family: 'DM';
  src: url('/font/DMSerifDisplay-regular.ttf') format('truetype'); 
  /* ou format('woff2-variations') si c'est un fichier woff2 */
}
input, textarea, button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
}

@media screen and (max-width: 700px) {
  section{
    margin-bottom: 0;
  }
  }