@use './vars.scss' as vars;

.header{
    width: 100%;
    display:grid ;
    grid-template-columns: 20% 1fr 20%; 
    gap: 2rem;
    border-radius: 0 0 5px 0;
    background-color: transparent;
    // background-color: aqua;
&__cornereffect{
    display: block;
    width: 30px;
    position: absolute;
    left:20%;
    
}
& h1 {
    border-radius: 0 0 15px 0;
    background-color: vars.$color-primary ;
padding-top: 2rem;
}
    &__item{
        // border: solid 1px red;
        text-align: center;
        padding: 1rem 0;
       
    }
}
.navbar{
    background: vars.$color-primary-opacity50;
    display: grid;
    grid-template-columns: 60px 60px 80px 60px 20px 20px;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height:100%;
    width: max-content;
    padding: 1rem 2rem;
    margin-left: 2rem;
    box-shadow: vars.$box-shadow;
    // overflow: hidden;
    
&__items{
    font-weight: bold;
    gap:1rem;
    transition: all vars.$transition-hover;
    &:nth-last-child(-n + 2):hover{
        transform: scale(1.1);
    }

}
&__items:hover{
    color: vars.$color-secondary;
    cursor: pointer;
}
}
/**************medium device*************/

@media screen and (max-width: 1024px) {

    
}