.info{
    display: grid;
    grid-template-rows: 20% 40% 38%;
    gap: 10px;
    text-align: center;
   

    &__story{
        background-color: antiquewhite;
        border-radius: 200px;
    }
    &__statistique{
        background-color: rgb(215, 226, 250);
        border-radius: 50px;
    }
    &__projet{
        background-color: rgb(250, 215, 245);
        border-radius: 50px;
    }
}
/************tablette ********/
@media screen and (max-width: 1024px) {
    .info{
        display: grid;
        grid-template-rows: none;
        grid-template-columns: 20% 40% 35%;
        height: 300px;
        justify-content: space-around;
        margin: 1rem 0;
        
        gap: 10px;
        padding: 0 10px;
    } 
}