@use "./vars.scss" as vars;

.projet {
  height: 100vh;
  // background-color: aqua;
  padding: 10px;
  &__title {
    position: relative;
    display: inline-block;
    padding: 0 0 1rem 0;
  }
  &__title::before {
    position: absolute;
    content: "";
    // border-bottom: solid 2px vars.$color-primary;
    background-color: vars.$color-primary;
    width: 200px;
    height: 2px;
    z-index: 1;
    left: 0; /* Ajoutez cette ligne */
    bottom: 0; /* Ajoutez cette ligne */
  }
  //je veux aplliquer un rem a tou les enfants
  &__container > * {
    margin-bottom: 1rem;
  }
  &__container {
    height: 50vh;
    border-radius: 30px;
    padding: 1rem;
    color: vars.$color-primary;
    position: relative;
    overflow: hidden;

    //logo postionné dans l'angle de la div 
    &__bglogo1{
position: absolute;
transform: rotate(30deg
);
right: -15px;
top: -22px;

    }
    &__bglogo2{
        position: absolute;
        transform: skew(30deg, 20deg);
        box-shadow: -41px 40px 30px 40px rgb(253 253 253);
        left: 0;
        border-radius: 189px;
        bottom: 0;
    }
   
    
}
}
/**************medium device*************/

@media screen and (max-width: 1024px) {
}

/**************small device*************/

@media screen and (max-width: 600px) {
}
