$color-primary: #ffffff;
$color-primary-opacity50: rgba(255, 255, 255, 0.45);
$color-primary-opacity80: rgba(255, 255, 255, 0.795);
$color-secondary:rgb(70, 70, 253);

$color-border:#080808;
$color-background:#fcf8eb;




$color-background-footer:#41787f;
$color-footer:#fcf8eb;
$color-background-contact:#ecd4ca;
$color-contact:white;
$color-background-contact2:#ff8383;
$color-contact2:white;
$color-background-about:linear-gradient(137deg, rgba(90,136,153,1) 41%, rgb(144, 195, 243) 100%);;


$color-about:white;
$color-about-bs:rgba(255, 255, 255, 0.507);
$color-about-bsinset:rgba(255, 255, 255, 0.74);


$color-background-title:#ff8383;


$border-radius: 30px;
$border-radius-button: 15px;

$transition-hover: ease 400ms;

$font-family-titre:"DM";
$font-family-titre-size:3rem;

$box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.795);