$color-primary: #ffffff;
$color-primary-opacity50: rgba(255, 255, 255, 0.45);
$color-secondary:rgb(70, 70, 253);

$color-border:#080808;
$color-background:#ff8383;

$border-radius: 30px;

$transition-hover: ease 700ms;


$box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.795);